.v-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;
  -webkit-filter: grayscale(20%);
}

.main {
  margin-top: 12%;
  opacity: 0.7;
}


.avatar {
  width: 80px;
  margin-top: 5%;
  border-radius: 50%;
}

.otherLink {
  width: 60%;
  margin-bottom: 5%;
}

.otherLink>.row>div:hover {
  transition: color .5s;
  color: #ff0000
}

.otherLink>.row>div {
  transition: color .5s;
}

.content-icon .iconfont {
  font-size: 2rem;
}

.content-name {
  font-size: .75rem;
}

.contact {
  width: 70%;
  margin-bottom: 5%;
}

.contact-icon {
  transition: color .5s;
}

.contact-icon .iconfont {
  font-size: 1.3rem;
}

.contact-icon:hover {
  transition: color .5s;
  color: #ff0000
}